extends layout

block content
  .container
    br
    center: h1.float-center ตัวแทนทั้งหมด
    each val in users
      .row
        .col-md-2.col-sm-12
          - var img= val.image_path
          img.img-thumbnail.rounded.border-0(src=img alt="" srcset="")
        .col-md-10.col-sm-12.align-self-center
          .card.border.border-info
            .card-body
              h5.card-title ชื่อ - นามสกุล #{val.firstname} #{val.lastname}
              .card-text
                .row
                  .col-md-4.col-sm-12
                    i.material-icons: img(src="https://png.icons8.com/color/50/000000/facebook.png")
                    span  #{val.social_media.facebook}
                  .col-md-3.col-sm-12
                    i.material-icons: img(src="https://png.icons8.com/color/50/000000/line-me.png")
                    span  #{val.social_media.line}
                  .col-md-3.col-sm-12
                    i.material-icons: img(src="https://png.icons8.com/color/50/000000/instagram-new.png")
                    span  #{val.social_media.instagram}
                  .col-md-2.col-sm-12
                    a.btn.btn-info.float-right(href="http://") ดูบัตรตัวแทน
    // h1= title
    // p Welcome to #{title}

