extends layout

block content
  .container
    br
    center: h1.float-center ตัวแทนทั้งหมด
    each val in users
      .row
        .col-md-2.col-sm-12
          img.img-thumbnail.rounded.border-0(src="uploads/user-profile-default.png", alt="", srcset="")
        .col-md-10.col-sm-12.align-self-center
          .card.border.border-info
            .card-body
              h5.card-title ชื่อ - นามสกุล #{val.firstname} #{val.lastname}
              .card-text
                .row
                  .col-md-4.col-sm-12
                    i.material-icons.socicon-facebook 
                    span  #{val.social_media.facebook}
                  .col-md-3.col-sm-12
                    i.material-icons.socicon-line 
                    span  #{val.social_media.line}
                  .col-md-3.col-sm-12
                    i.material-icons.socicon-instagram 
                    span  #{val.social_media.instagram}
                  .col-md-2.col-sm-12
                    a.btn.btn-info.float-right(href="http://") ดูบัตรตัวแทน
    // h1= title
    // p Welcome to #{title}

